@{
    ViewBag.Title = "About";
}
<div class="well">
<h2>Our Purpose</h2>

<p>We are the KeyPunchers, a group of University of North Florida students majoring in Computer Information Sciences/Systems. 
   We were tasked with creating an e-business with a functioning website to demo at the Spring Symposium at UNF. Our symposium project 
   revolves around social networking for introverted types people, specificly, "nerds". We offer a service on the site that is in the form
   of a quiz. Once completed, the quiz will group you with fellow nerds who answered the quiz in a similar fashion. We do this by having
   separate invite only discord channels. If you don't have Discord (which you totoally should if you're a nerd!) go ahead and download it 
   from their site! After that, feel free to sign up and take our quiz!
</p>
</div>