@{
    ViewBag.Title = "Home Page - NerdHerd";
}

<div class="jumbotron">
    <h1>Welcome to NerdHerd!</h1>
    <h2>Where no black sheep is left behind.</h2>
    <h3>Create an account today and join the fun!</h3>
</div>